{% extends "base.html" %}

{% block title %}Category|E-Shopper{% endblock %}

{% block content %}

	<section id="advertisement">
		<div class="container">
			<img src="{{STATIC_URL}}images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for category in categories %}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#{{category.slug}}">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											</a>
											<a href="{% url 'category' category.slug %}">{{category.name}}</a>
										</h4>
									</div>
									<div id="{{category.slug}}" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												{% for sub_category in category.subcategory_set.all %}
												<li><a href="{% url 'sub_category' category.slug sub_category.slug %}">{{sub_category.name}}</a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							{% endfor %}
						</div><!--/category-productsr-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{{STATIC_URL}}images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">{{items.0.sub_category.name}}</h2>
						{% if items %}
						{% for item in items %}
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{item.image.url}}" alt="{{item.name}}" />
											<h2>Rs {{item.price|floatformat:"0"}}</h2>
											<p>{{item.name}}</p>
											<a id="{{item.id}}" href="javascript:void(0);" class="btn btn-default add-to-cart add-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<a href="{% url 'item' item.sub_category.category.slug item.sub_category.slug item.slug %}">
													<h2>Rs {{item.price|floatformat:"0"}}</h2>
													<p>{{item.name}}</p>
												</a>
												<a id="{{item.id}}" href="javascript:void(0);" class="btn btn-default add-to-cart add-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						{% else %}
							<div class="col-sm-12">
								No Items Found
							</div>
						{% endif %}
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block extra_body %}

	<script type="text/javascript">
		$(document).ready(function() {
			$('.add-cart').on('click',function(){
				$.ajax({
			        url: '/cart/ajax/add/',
			        type: 'GET',
			        data: {'item_id': $(this).attr('id')},
			        dataType: 'json',
			        success: function(data)
			            {
			            	if (data) 
			                {
			                    alert('Item Added');
			                }
			            },
			        error: function(data)
			            {
			                alert('Item not Added');
			            }
			    });
			});
		});
	</script>

{% endblock %}


		